body {
    background-image: linear-gradient(to right, #fb0079, #ff00fb, #d000ff);
}
.input {
    width: 90%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
    font-size: 20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
